@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background: rgb(0, 0, 0);
}

#root {
  height: 100vh;
  width: 100vw;
}
/* Hide scrollbar but allow scrolling */
::-webkit-scrollbar {
  display: none;
}

html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.real-viewport-height {
  height: 100vh; /* fallback */
  height: 100dvh; /* modern browsers - dynamic viewport height */
}
/* index.css */
.transform-style-preserve-3d {
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.team-card {
  perspective: 1000px;
  flex-shrink: 0;
}




